.navbar .nav-link,
.navbar-brand {
  color: white !important;
}
.list-group-item {
  background-color: rgb(34, 35, 48);
  color: white;
  border-color: rgb(60, 60, 75);
}
h2 {
  color: white;
}
.dynamic-content ::ng-deep h5 {
  color: #4a90e2;
}

body {
  margin: 0;
  padding: 0px;
  background-color: rgb(34, 35, 48);
  color: white;
  border-color: rgb(60, 60, 75);
}

.container {
  padding-top: 20px;
}

.content-container,
.content-container * {
  font-size: 16px; /* or whatever size you prefer */
}
h5 {
  color: #4a90e2;
}
strong {
  border-color: black;
  border-radius: 2%;
}
p {
  border-color: rgb(60, 60, 75);
}
pre {
  background-color: rgb(60, 60, 75);
  color: #fedded !important;
  padding: 12px;
}
