<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
  <a
    class="navbar-brand bg-transparent text-dark border-0 font-weight-bold text-center"
    routerLink="/"
    routerLinkActive="active"
    href="#"
  >
    <i class="bi bi-house-door" style="color: white"></i>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item me-auto mb-0 mb-lg-0">
      <a
        class="nav-link font-weight-bold"
        routerLink="dataStructure"
        routerLinkActive="active"
        href="#"
        >Data Structures</a
      >
    </li>
  </ul>
  <button
    type="button"
    class="close btn-close-focus-shadow"
    style="margin-left: auto"
    routerLink="/"
    routerLinkActive="active"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</nav>
<body style="background-color: rgb(34, 35, 48)">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />
  <div class="container mt-0">
    <h2 class="text-center text-white">Data Structures</h2>
    <ul class="list-group mt-3">
      <ng-container *ngFor="let item of items; let i = index">
        <li class="list-group-item text-white">
          <a
            href="javascript:void(0)"
            class="stretched-link text-decoration-none"
            (click)="toggleItem(i)"
          >
            {{ item.name }}
          </a>
        </li>
        <div *ngIf="isExpanded[i]" class="list-group-item bg-dark text-white">
          <!-- {{ item.content }} -->
          <div class="dynamic-content" [innerHTML]="item.content"></div>
          <!-- Displaying the image -->
          <img
            [src]="item.image"
            alt="{{ item.name }}"
            class="img-fluid mb-2"
            style="align-items: center !important"
          />
        </div>
      </ng-container>
    </ul>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>
