body {
  background-color: rgb(34, 35, 48);
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
/*
used to style the navbar content
*/
.navbar .nav-link,
.navbar-brand {
  color: white !important;
}
