<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand bg-light text-dark border rounded font-weight-bold text-center text-uppercase" style="width: 150px;" href="#">
       Sai Krishna
    </a>
    <ul class="navbar-nav">
        
        <li class="nav-item me-auto mb-2 mb-lg-0">
          <a class="nav-link" routerLink='dataStructure' routerLinkActive="active" href="#">Data Structures</a>
        </li>
        <li class="nav-item me-auto mb-2 mb-lg-0">
            <a class="nav-link" routerLink='Algorithms' routerLinkActive="active" href="#">Algorithms</a>
        </li>
        <li class="nav-item me-auto mb-2 mb-lg-0">
            <a class="nav-link" routerLink='Courses' routerLinkActive="active" href="#">Courses</a>
        </li>
        <li class="nav-item me-auto mb-2 mb-lg-0">
            <a class="nav-link" routerLink='Reminders' routerLinkActive="active" href="#">Reminders</a>
        </li>
    </ul>
    <button type="button" class="close btn-close-focus-shadow"  style="margin-left: auto;" routerLink='/' routerLinkActive="active" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
  </nav>
  <body>
    <div class="font-weight-bold text-center cent display-4">Welcome!</div>
    <!-- <div  class="font-weight-bold text-center cent display-4">Everything Happens for<br>A REASON
        <br>
    </div> -->
  </body>
