
h1{
    text-align: center;
    background-color: azure;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

body {
    
    margin: auto;
    position: relative;
    background-color:  rgb(34, 35, 48);
    font-family: 'Lexend Deca', sans-serif;  
    color: #ffffff;
}

.cent {
    height: 200px;
    width: 700px;
    position: fixed;
    top: 57%;
    left: 42%;
    margin-top: -100px;
    margin-left: -200px;
}